<div class="jumbotron">
  <h1>Mobile Gift Card</h1>
  </p>
</div>
<div class="panel panel-default login col-md-4 col-md-offset-4" >
  <div class="panel-body">
    <div class="row" >
      <div class="login-buttons text-center">
        <a class="btn btn-danger btn-block" href="{{apiRoot}}auth/google" >
          <i class="icon-signout"></i>
          Google
        </a>
        <a class="btn btn-primary btn-block" href="{{apiRoot}}auth/facebook" >
          <i class="icon-signout"></i>
          Facebook
        </a>
      </div>


      
      <p>
      </p>
    </div>

    <div class="" >
      <form role="form" action="/auth/local" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" rplaceholder="Password">
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember Me 
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a class="btn btn-default" ng-click="changeView('register')" href="#/register">Register</a>
      </form>
    </div>
  </div>
</div>

