<div class="container" ng-controller="RegisterCtrl">
	<div class="col-md-6 col-md-offset-3 panel panel-default">
		<div class="panel-heading" >
			<h4 class="text-center"> Register </h4>
		</div>
		<div class="panel-body">
			<form role="form" ng-submit="submit()">
			  <div class="form-group">
			    <label for="username">Username</label>
			    <input ng-model="formData.username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
			    <span class="help-block" ng-show="errorUsername">{{ errorUsername }}</span>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input ng-model="formData.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			    <span class="help-block" ng-show="errorPassword">{{ errorPassword }}</span>
			  </div>
			  <div class="form-group">
			  	<input ng-model="formData.passwordConfirmation" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
			  	<span class="help-block" ng-show="errorConfirm">{{ errorConfirm }}</span>
			  </div>
			  <div class="form-group">
			  	<button type="submit" class="btn btn-primary btn-block">Register</button>
			  </div>
			</form>
		</div>
	</div>
</div>