

<div>

    <div class="modal-header">
        <h3 class="modal-title">Send Message</h3>
    </div>
    <form class="form form-horizontal validate-form" novalidate="novalidate">
        <div class="modal-body">
            <div class="form-group">
                <input type="text" placeholder="valid json goes here" name="" id="" ng-model="message" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="didClickSendMessage()">Send</button>
        </div>
    </form>

    <ul>
        <li ng-repeat="example in previousExamples track by $index">{{example}}</li>
    </ul>


</div>