<div ng-controller="TccCardDetailCtrl">

    <div ng-hide="card"><i class="icon-2x icon-spinner icon-spin"></i></div>

    <div class="box bordered-box orange-border" ng-show="card">

        <div class="box-header orange-background">
            <div class="title">TCC card {{ card.card_number }}</div>
        </div>

        <div class="box-content">

            <ul class="list-striped list-unstyled card-list">
                <li class="row">
                    <div class="col-sm-3"><h4>Card Number</h4></div>
                    <div class="col-sm-3"><h5 class="text-left">{{ card.card_number}}</h5></div>
                </li>
                <li class="row">
                    <div class="col-sm-3"><h4>Status</h4></div>
                    <div class="col-sm-3"><h5 class="text-left">{{ card.status}}</h5></div>
                </li>
                <li class="row">
                    <div class="col-sm-3"><h4>Balance</h4></div>
                    <div class="col-sm-3"><h5 class="text-left">{{ card.balance}}</h5></div>
                </li>
                <li class="row">
                    <div class="col-sm-3"><h4>Previous Balance</h4></div>
                    <div class="col-sm-3"><h5 class="text-left">{{ card.previousBalance}}</h5></div>
                </li>
            </ul>
            <hr class="hr-normal">
            <ul class="list-striped list-unstyled card-list">
                <li class="row">
                    <div class="col-sm-3" ng-show="card.status == 'New'"><h4>Activation Amount</h4></div>
                    <div class="col-sm-3" ng-show="card.status == 'Active'"><h4>Redemption Amount</h4></div>

                </li>
                <li class="row" >
                    <div ng-show="card.status == 'New'">
                        <div class="col-sm-4">
                            <input class="form-input" type="text" ng-model="activationAmount">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" ng-click="didClickActivate()">
                                <i class="icon-unlock"></i>
                                Activate
                            </button>
                        </div>
                    </div>
                    <div ng-show="card.status == 'Active'">
                        <div class="col-sm-4">
                            <input class="form-input" type="text" ng-model="redemptionAmount">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary btn-lg" ng-click="didClickRedeem()">
                                <i class="icon-unlock"></i>
                                Redeem
                            </button>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
        <div><a href="#/tcc-cards">Back to list of cards</a></div>
    </div>
</div>
